@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: oklch(13% 0.028 261.692);
  --dem: rgb(0, 142, 209);
  --rep: rgb(248, 54, 49);
  --ind: rgb(128, 128, 128);
  --grid-x: rgb(221, 221, 221);
  --grid-y: rgb(204, 204, 204);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dem: var(--dem);
  --color-rep: var(--rep);
  --color-ind: var(--ind);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(27.8% 0.033 256.848);
    --foreground: oklch(98.5% 0.002 247.839);
    --dem: rgb(74, 144, 226);
    --rep: rgb(231, 76, 60);
    --ind: rgb(160, 160, 160);
    --grid-x: rgb(85, 85, 85);
    --grid-y: rgb(68, 68, 68);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
